html, body {
    background: #f9f9f9;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: orange;
}

ul {
    list-style: none;
    padding-left: 10px;
}

table {
    width: 100%;
    margin-top: 15px;
}

td, th {
    padding: 5px 10px;
}

tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.04);
}

td.options {
    text-align: right;
}

th {
    cursor: pointer;
    padding: 10px;
    background: #333333;
    color: white;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.modal.show {
    display: block;
    background: rgba(0, 0, 0, 0.41);
}

/*Forms*/

input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 10px;
    height: 40px;
}

input.search {
    width: 250px;
}

td input {
    height: 24px;
}

label {
    margin-bottom: 0;
}

button {
    margin-left: .5em;
    border-radius: 3px;
}

span.label {
    color: gray;
    font-size: 12px;
    display: inline-block;
    width: 100px;
}

.card {
    background: white;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .5s;
}

.card a {
    font-weight: bold;
    font-size: 18px;
}

.fa, .fas {
    padding: 0 10px;
    cursor: pointer;
}

.list-item {
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}